// SHAKE ERROR
// ========================================================================== //

.u-shake-error {
    animation: negative 400ms ease-in-out;
}

// SMOOTH FADE IN/OUT
// ========================================================================== //

[class*="u-fade-"] {
    transition: visibility 0s linear .25s, opacity .25s linear;
}

.u-fade-out {
    opacity: 0;
    visibility: hidden;
}

.u-fade-in {
    opacity: 1;
    transition-delay: 0;
    visibility: visible;
}
