// EMOJIONE
// ========================================================================== //

.u-emojione {
    display: inline-block;
    font-size: inherit;
    height: 3ex;
    line-height: normal;
    margin: -.2ex .15rem .2ex;
    min-height: 2rem;
    min-width: 2rem;
    vertical-align: middle;
    width: 3.1ex;
}

img {
    &.u-emojione { width: auto; }
}
