// FORM
// ========================================================================== //

.u-styled-form {

    > div {
        margin-bottom: 1rem;
        position: relative;
    }

    label {
        display: inline-block;
        font-weight: 700;
        margin-bottom: 5px;
        max-width: 100%;
    }

    [disabled],
    [disabled] *,
    .disabled,
    .disabled * {
        cursor: not-allowed !important;
    }

    $input-size: 1em * 2.5;

    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    textarea {
        @extend %input;
    }

    [data-icon] {
        bottom: 0;
        height: 36px;
        opacity: 1;
        position: absolute;
        right: 0;
        text-align: center;
        transition: opacity ease-in-out $fast-speed;
        width: 36px;
        z-index: 2;

        &:before {
            font-size: 1.25em;
            line-height: 36px;
        }
    }

    .has-feedback + [data-icon] {
        opacity: 1;
    }

    input:focus + [data-icon] {
        opacity: 0;
    }

    $size: 1em * 1.5;

    &.has-feedback {
        [type="text"],
        [type="password"],
        [type="date"],
        [type="datetime"],
        [type="datetime-local"],
        [type="month"],
        [type="week"],
        [type="email"],
        [type="number"],
        [type="search"],
        [type="tel"],
        [type="time"],
        [type="url"],
        textarea {
            padding-right: 2.5em;
        }
    }

    $size: 1em * 1.5;

    [type="radio"],
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {

        @extend %hide-element;

        &,
        + label {
            user-select: none;
        }

        + label {
            cursor: pointer;
            font-weight: normal;
            padding-left: $size * 1.5;
            position: relative;

            &:after,
            &:before {
                color: inherit;
                content: '';
                display: block;
                height: $size;
                left: 0;
                position: absolute;
                top: 0;
                width: $size;
            }

            &:before {
                border: 1px solid color($grey, 400);
                transition: background ease-in-out $regular-speed;
            }

            &:after {
                transition: all ease-in-out $fast-speed;
            }
        }
    }

    // State

    [type="checkbox"] {

        &:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0) translateX(.5px);
        }

        &:checked + label:after {
            opacity: 1;
            transform: scale(1) translateX(.5px);
        }
    }

    [type="radio"] {

        + label:after {
            transform: scale(0);
        }

        &:checked + label:after {
            transform: scale(1);
        }
    }

    // Disabled

    [type="radio"],
    [type="checkbox"] {

        &[disabled],
        [disabled] &,
        .disabled & {
            + label {
                cursor: not-allowed;

                &:before {
                    background-color: color($grey, 300);
                }

                &:after {
                    opacity: .65;
                }
            }
        }
    }

    // Checkbox

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {

        + label {

            &:before {
                border-radius: 2px;
            }

            &:after {
                content: '✔';
                line-height: 1.65;
                text-align: center;
            }
        }
    }

    // Symbols

    [type="checkbox"] {

        // Default icon

        &:not(:checked),
        &:checked {
            + label:after {
                @extend %icons;
                content: '\76';
            }
        }

        // Extra icons

        &.mod-plus + label:after { content: '\2b'; }
        &.mod-minus + label:after { content: '\2d'; }

        &.mod-cross + label:after {
            content: '\78';
        }
    }

    [type="checkbox"].input-switch {

        + label {
            padding-left: $size * 3;

            &:after,
            &:before {
                border-radius: 1em;
            }

            &:before {
                background-color: color($grey, 300);
                border-color: rgba(color($black), .1);
                height: $size / 2;
                top: $size / 4;
                width: $size * 2;
            }

            &:after {
                border: solid 1px rgba(color($black), .15);
                content: '';
                background: color($white);
                box-shadow: 0 2px 5px rgba(color($black), .15);
                transition-duration: $regular-speed;
                transition-timing-function: ease-out;
            }
        }

        &:not(:checked) + label:after {
            opacity: 1;
            transform: translateX(-1%);
        }

        &:checked + label:before {
            background-color: color($green);
        }

        &:checked + label:after {
            opacity: 1;
            transform: translateX(101%);
        }

        &.mod-right {
            + label {
                padding-left: 0;
                padding-right: $size * 3;

                &:after,
                &:before {
                    left: auto;
                    right: 0;
                }
            }

            &:not(:checked) + label:after {
                transform: translateX(-101%);
            }

            &:checked + label:after {
                transform: translateX(1%);
            }
        }

        &[disabled],
        [disabled] &,
        .disabled & {

            + label:after {
                background-color: color($grey, 200);
            }

            &:checked + label:before {
                background-color: color($grey);
            }
        }
    }

    // Radio

    [type="radio"] {
        @extend %hide-element;

        + label {
            &:after,
            &:before {
                border-radius: 50%;
            }

            &:after {
                background-color: color($grey, 600);
                content: '';
                height: $size / 2;
                left: $size / 4;
                top: $size / 4;
                width: $size / 2;
            }
        }
    }

    // Password Visibility

    [type="password"] {
        font-size: 2.5rem;
        line-height: 1.4;
        padding-bottom: 0;
        padding-top: .1rem;
    }

    [type="password"] {
        letter-spacing: .5rem;
    }

    .password-visibility [type="text"] {
        @extend %code-font;
        letter-spacing: .55rem;
    }

    .password-visibility [type="checkbox"] {

        &:not(:checked) {
            + label span:first-child { display: inline-block; }
            + label span { display: none; }

            ~ [type="text"] { display: none; }
            ~ [type="password"] { display: block; }
        }

        &:checked {
            + label span:first-child { display: none; }
            + label span { display: inline-block; }

            ~ [type="text"] { display: block; }
            ~ [type="password"] { display: none; }
        }
    }

    .password-visibility {
        padding-bottom: 6.4rem;

        [type="checkbox"] + label {
            position: absolute;
            top: 6.4rem + 1rem;
        }
    }
}

.mod-required {
    color: color($grey);
}

.mod-success {
    color: color($green);
}

.mod-warning {
    color: color($orange);
}

.mod-error {
    color: color($red, 600);
}
