// LAYOUT
// ========================================================================== //

// Horizontal

.layout-horizontal {
    @extend %flex, %layout-alignment;
    flex-direction: row;

    &.mod-inline {
        @extend %inline-flex;
    }

    &.mod-reverse {
        flex-direction: row-reverse;
    }
}

// Vertical

.layout-vertical {
    @extend %flex, %layout-alignment;
    flex-direction: column;

    &.mod-inline {
        @extend %inline-flex;
    }

    &.mod-reverse {
        flex-direction: column-reverse;
    }

    > .flex.mod-auto-vertical {
        -ms-flex: 1 1 auto;
        flex-basis: auto;
    }
}

// FLEX HELPER
// ========================================================================== //

.flex {
    -ms-flex: 1 1 .000000001px;
    flex: 1;
    flex-basis: .000000001px;

    &.mod-none { flex: none; }

    &.mod-auto {
        -ms-flex: 1 1 auto;
        flex-basis: auto;
    }

    &.mod-1 { flex: 1; }
    &.mod-2 { flex: 2; }
    &.mod-3 { flex: 3; }
    &.mod-4 { flex: 4; }
    &.mod-5 { flex: 5; }
    &.mod-6 { flex: 6; }
    &.mod-7 { flex: 7; }
    &.mod-8 { flex: 8; }
    &.mod-9 { flex: 9; }
    &.mod-10 { flex: 10; }
    &.mod-11 { flex: 11; }
    &.mod-12 { flex: 12; }
}
