// LOADING
// ========================================================================== //

.u-loading--dots {
    .u-loading--dot {
        animation: scale-in-out 1s ease-in-out infinite;
        background-color: color($blue-grey, 50);
        border-radius: to-rem(32px);
        display: block;
        height: 3to-rem(32px);
        margin: to-rem(3px);
        width: 3to-rem(32px);

        &:nth-child(2) {
            animation-delay: -.9s;
        }

        &:nth-child(3) {
            animation-delay: -.8s;
        }
    }
}
