// SHAKE ERROR
// ========================================================================== //

@keyframes negative-shake {
    0% { transform: translateX(0); }
    12.5% { transform: translateX(to-rem(-6px)) rotateY(-5deg); }
    37.5% { transform: translateX(to-rem(5px)) rotateY(4deg); }
    62.5% { transform: translateX(to-rem(-3px)) rotateY(-2deg); }
    87.5% { transform: translateX(to-rem(2px)) rotateY(1deg); }
    100% { transform: translateX(0); }
}
