// SHAKE ERROR
// ========================================================================== //

@keyframes negative-shake {
    0% { transform: translateX(0); }
    12.5% { transform: translateX(-.6rem) rotateY(-5deg); }
    37.5% { transform: translateX(.5rem) rotateY(4deg); }
    62.5% { transform: translateX(-.3rem) rotateY(-2deg); }
    87.5% { transform: translateX(.2rem) rotateY(1deg); }
    100% { transform: translateX(0); }
}
