// LAYOUT
// ========================================================================== //

%flex {
    display: flex;
}

%inline-flex {
    display: inline-flex;
}

%layout-alignment {

    // Wrap

    &.mod-wrap {
        flex-wrap: wrap;

        &.mod-reverse {
            flex-wrap: wrap-reverse;
        }
    }

    // Alignment in cross axis

    &.mod-start {
        align-items: flex-start;
        -ms-flex-align: start;
    }

    &.mod-center,
    &.mod-center-center {
        align-items: center;
        -ms-flex-align: center;
    }

    &.mod-end {
        align-items: flex-end;
        -ms-flex-align: end;
    }

    // Alignment in main axis

    &.mod-start-justified {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    &.mod-center-justified,
    &.mod-center-center {
        -ms-flex-pack: center;
        justify-content: center;
    }

    &.mod-end-justified {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    &.mod-around-justified {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    &.mod-justified {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    // Self alignment

    .mod-self-start {
        align-self: flex-start;
    }

    .mod-self-center {
        align-self: center;
    }

    .mod-self-end {
        align-self: flex-end;
    }

    .mod-self-stretch {
        align-self: stretch;
    }
}
