// LAYOUT
// ========================================================================== //

%flex {
    display: flex;
}

%inline-flex {
    display: inline-flex;
}

@mixin auto-sizing {
    -ms-flex: 1 1 auto;
    flex-basis: auto;
}
