// State: Based on SUITCSS

// INTERACTION
// =============================================================================

%is-action {
    cursor: pointer;
}

%is-disabled {
    cursor: default;
}

%is-draggable {
    cursor: move;
}

// With this, the element will ignore user interaction

%ignore-interaction {
    pointer-events: none;
}

// VISIBILITY
// =============================================================================

%is-hidden {
    display: none !important;
    visibility: hidden !important;
}

// Display a hidden-by-default element.

%is-shown {
    display: block !important;
    visibility: visible !important;
}

// Control visibility without affecting flow.

%is-visible {
    visibility: visible;
}

%is-invisible {
    visibility: hidden;
}
