// Bulletproof font-face technique by Paul Irish (http://is.gd/sPTEJj)

@mixin font-face ($name, $path) {
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: normal;
        src: url('#{$path}#{$name}.eot?#iefix') format('embedded-opentype'),
        url('#{$path}#{$name}.ttf') format('truetype'),
        url('#{$path}#{$name}.woff') format('woff'),
        url('#{$path}#{$name}.svg#@{name}') format('svg');
    }
}

// Image replacement for background-image

%hidden-text {
    // First technique by Scott Kellman

    // overflow: hidden;
    // text-indent: 100%;
    // white-space: nowrap;

    // Second technique by Nicolas Gallagher

    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.u-hidden-text { @extend %hidden-text; }

// Smooth font rendering

%smooth-font {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(color($black), .004);
}

// Our font-family for coding

%code-font {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}

pre,
code,
.code-font {
    @extend %code-font;
}

// Word breaking
// Break strings when their length exceeds the width of their container.

.u-text-break {
    word-wrap: break-word;
}

// Horizontal text alignment

.u-text-center {
    text-align: center;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

// Inherit the ancestor's text color.

.u-text-inherit-color {
    color: inherit;
}

// Enables font kerning in all browsers.
// http://blog.typekit.com/2014/02/05/kerning-on-the-web/
// 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
// 2. Chrome (not Windows), Firefox, IE 10+
// 3. Safari 7 and future browsers

%text-kern {
    font-feature-settings: 'kern' 1; // 2
    font-kerning: normal; // 3
    text-rendering: optimizeLegibility; // 1
}

.u-text-kern { @extend %text-kern; }

// Prevent whitespace wrapping

.u-text-nowrap {
    white-space: nowrap;
}

// Text truncation
// Prevent text from wrapping onto multiple lines, and truncate with an ellipsis.
// 1. Ensure that the node has a maximum width after which truncation can occur.
// 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor nodes.

.u-text-truncate {
    max-width: 100%; // 1
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal; // 2
}
