// Woff font format is suported by major browsers.
// There is no need to load multiple formats.

@mixin font-face ($name, $path) {
    @font-face {
        font-family: $name;
        font-style: normal;
        font-weight: normal;
        src: url('#{$path}#{$name}.woff') format('woff');
    }
}

// Convert pixel to rem (based on the default font size)

@function to-rem($size) {
    $rem-size: $size / $default-font-size;
    @return #{$rem-size}rem;
}

// Image replacement for background-image

%hidden-text {
    // First technique by Scott Kellman

    // overflow: hidden;
    // text-indent: 100%;
    // white-space: nowrap;

    // Second technique by Nicolas Gallagher

    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

// Smooth font rendering

%smooth-font {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(color($black), .004);
}

// Our font-family for coding

%code-font {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}

// Enables font kerning in all browsers.
// http://blog.typekit.com/2014/02/05/kerning-on-the-web/
// 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
// 2. Chrome (not Windows), Firefox, IE 10+
// 3. Safari 7 and future browsers

%text-kern {
    font-feature-settings: 'kern' 1; // 2
    font-kerning: normal; // 3
    text-rendering: optimizeLegibility; // 1
}
