<!doctype html>

<html ng-app="app">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>Template: Blog</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,600|Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../dist/first.css" />

    <!-- Styles -->
    <style>

        html body {
            color: #444;
            font-family: 'Lora', serif;
            font-size: 1.6rem;
            margin: 0 auto;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Raleway', sans-serif;
            font-size: 1.6rem;
            font-weight: 600;
        }

        .main-title {
            font-size: 5.6rem;
            font-weight: 100;
            margin: .25rem 0 1rem;
        }

        .post {
            margin-bottom: 2rem;
        }

        .post-title {
            font-size: 3.2rem;
        }

        .thumbnail {
            border: solid 1px #ccc;
            margin: 1rem 0;
            padding: 5px;
        }

        .callout {
            background-color: #def0fc;
            border-bottom: 1px solid rgba(0, 0, 0, .15);
            margin: 0 0 3rem;
            padding: 3rem;
            width: 100%;
        }

    </style>

</head>

<body>

    <layout align="center">
        <column class="callout">
            <div>
                <h1 class="main-title">First Blog</h1>
                <h2>An example template of creating a blog with <em>First.css</em>.</h2>
            </div>
        </column>
    </layout>

    <layout limited>

        <layout>
            <column size="3">

                <layout orientation="vertical">
                    <row>
                        <div class="post">
                            <h3 class="post-title">Sample blog post</h3>
                            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
                            <img class="thumbnail" src="http://placehold.it/900x350">
                            <p>This blog post shows a few different types of content that's supported and styled with <em>First.css</em>. Basic typography, images, and code are all supported.</p>
                            <hr>
                            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                            <blockquote>
                                Those people who think they know everything are a great annoyance to those of us who do.
                                <cite>Isaac Asimov</cite>
                            </blockquote>
                            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                            <h3>Sub-heading</h3>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <pre><code>Example code block</code></pre>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                        </div>
                    </row>
                    <row>
                        <div class="post">
                            <h3 class="post-title">Sample blog post</h3>
                            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
                            <img class="thumbnail" src="http://placehold.it/900x350">
                            <p>This blog post shows a few different types of content that's supported and styled with <em>First.css</em>. Basic typography, images, and code are all supported.</p>
                            <hr>
                            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                            <blockquote>
                                <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </blockquote>
                            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                            <h3>Sub-heading</h3>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <pre><code>Example code block</code></pre>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                        </div>
                    </row>
                    <row>
                        <div class="post">
                            <h3 class="post-title">Sample blog post</h3>
                            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
                            <img class="thumbnail" src="http://placehold.it/900x350">
                            <p>This blog post shows a few different types of content that's supported and styled with <em>First.css</em>. Basic typography, images, and code are all supported.</p>
                            <hr>
                            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                            <blockquote>
                                <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </blockquote>
                            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                            <h3>Sub-heading</h3>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <pre><code>Example code block</code></pre>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                        </div>
                    </row>
                </layout>

            </column>
            <column size="1">

                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>

                <h4>Archives</h4>

                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>

                <h4>Categories</h4>

                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>

                <h4>Authors</h4>

                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>

                <h4>Elsewhere</h4>

                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>

            </column>
        </layout>

    </layout>

</body>

</html>
