// Input

.selectize-input,
.selectize-control.single .selectize-input.input-active {
    background: $selectize-color-input;
    cursor: text;
    display: inline-block;
}

.selectize-input {
    @extend %input;

    .selectize-control.multi &.has-items {
        padding: .7rem 1.2rem;
    }

    &.full {
        background-color: $selectize-color-input-full;
    }

    &.dropdown-active {
        border-radius: $selectize-border-radius $selectize-border-radius 0 0;
    }

    > * {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
    }

    .selectize-control.multi & > div {
        background: $selectize-item-color;
        border: $selectize-item-border-width solid $selectize-item-border-color;
        border-radius: 2px;
        color: $selectize-item-text-color;
        cursor: pointer;
        font-size: $input-item-font-size;
        margin-right: $selectize-item-margin-x;
        padding: $selectize-item-padding-y $selectize-item-padding-x;

        &.active {
            background: $selectize-item-color-active;
            border: $selectize-item-border-width solid $selectize-item-border-color-active;
            color: $selectize-item-text-color-active;
        }
    }

    .selectize-control.multi &.disabled > div {
        &,
        &.active {
            background: color($transparent);
        }
    }

    > input {
        background: none $important;
        border: 0 none $important;
        box-shadow: none $important;
        display: inline-block $important;
        line-height: inherit $important;
        margin: $selectize-caret-margin $important;
        max-height: none $important;
        max-width: 100% $important;
        min-height: 0 $important;
        padding: 0 $important;
        text-indent: 0 $important;
        user-select: auto $important;

        &::-ms-clear {
            display: none;
        }

        &:focus { outline: none $important; }
    }

    &::after {
        clear: left;
        content: ' ';
        display: block;
    }

    &.dropdown-active::before {
        background: $selectize-dropdown-border-color-top;
        bottom: 0;
        content: ' ';
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.selectize-dropdown {
    background: $selectize-color-dropdown;
    border: $selectize-dropdown-border;
    border-radius: 0 0 $selectize-border-radius $selectize-border-radius;
    border-top: 0 none;
    box-shadow: 0 1px 3px rgba(color($black), .1);
    color: $selectize-text-color;
    font-family: $selectize-font-family;
    font-size: $selectize-font-size;
    font-smoothing: $selectize-font-smoothing;
    line-height: $selectize-line-height;
    margin: -1px 0 0;
    position: absolute;
    z-index: 10;

    [data-selectable] {
        cursor: pointer;
        overflow: hidden;

        .highlight {
            background: $selectize-color-highlight;
            border-radius: 1px;
        }
    }

    [data-selectable],
    .optgroup-header {
        padding: $selectize-padding-dropdown-item-y $selectize-padding-dropdown-item-x;
    }

    .optgroup:first-child .optgroup-header {
        border-top: 0 none;
    }

    .optgroup-header {
        background: $selectize-color-optgroup;
        border-bottom: 1px solid $selectize-dropdown-border-color-top;
        border-top: 1px solid $selectize-dropdown-border-color-top;
        color: $selectize-color-optgroup-text;
        cursor: default;
        font-size: 85%;
        font-weight: bold;
    }

    .active {
        background-color: $selectize-dropdown-item-active-color;
        color: $selectize-dropdown-item-active-text-color;

        &.create {
            color: $selectize-dropdown-item-create-active-text-color;
        }
    }

    .create {
        color: $selectize-dropdown-item-create-text-color;
    }
}

.selectize-dropdown-content {
    max-height: $selectize-max-height-dropdown;
    overflow-x: hidden;
    overflow-y: auto;
}

.selectize-control {
    position: relative;

    &.single .selectize-input {

        &,
        input {
            cursor: pointer;
        }

        &.input-active,
        &.input-active input {
            cursor: text;
        }

        &:after {
            border-color: $selectize-arrow-color transparent transparent;
            border-style: solid;
            border-width: $selectize-arrow-size $selectize-arrow-size 0;
            content: ' ';
            display: block;
            height: 0;
            margin-top: round((-1 * $selectize-arrow-size / 2));
            position: absolute;
            right: $selectize-arrow-offset;
            top: 50%;
            transform: rotate(0) translateY(0);
            // transition: all ease-in-out $regular-speed;
            width: 0;
        }

        &.dropdown-active:after {
            transform: rotate(180deg) translateY($selectize-arrow-size * .2);
            // border-color: transparent transparent $selectize-arrow-color;
            // border-width: 0 $selectize-arrow-size $selectize-arrow-size;
            // margin-top: $selectize-arrow-size * -.8;
        }
    }

    &.rtl {
        &.single .selectize-input:after {
            left: $selectize-arrow-offset;
            right: auto;
        }

        .selectize-input > input {
            margin: $selectize-caret-margin-rtl $important;
        }
    }

    &.plugin-remove_button {

        [data-value] {
            padding-right: 24px $important;
            position: relative;

            .remove {
                border-left: 1px solid $selectize-item-border-color;
                border-radius: 0 2px 2px 0;
                bottom: 0;
                color: inherit;
                display: inline-block;
                font-size: 1.4rem;
                font-weight: bold;
                opacity: .85;
                padding: $selectize-item-padding-y 0 0;
                position: absolute;
                right: 0;
                text-align: center;
                text-decoration: none;
                top: 0;
                vertical-align: middle;
                width: 17px;
                z-index: 1;

                &:hover {
                    background: rgba(color($black), .05);
                }
            }

            &.active .remove {
                border-left-color: $selectize-item-border-color-active;
            }
        }

        .disabled [data-value] .remove {
            // border-left-color: lighten(desaturate($selectize-item-border-color, 100%), @selectize-lighten-disabled-item-border);

            &:hover {
                background: none;
            }
        }
    }

    &.plugin-drag_drop {
        &.multi > .selectize-input > .ui-sortable-placeholder {
            // background: #f2f2f2 $important;
            background: rgba(color($black), .06) $important;
            border: 0 none $important;
            box-shadow: inset 0 0 12px 4px color($white);
            visibility: visible $important;
        }

        .ui-sortable-placeholder::after {
            content: '!';
            visibility: hidden;
        }

        .ui-sortable-helper {
            box-shadow: 0 2px 5px rgba(color($black), .2);
        }
    }
}
